
.banner-container
{
  position: relative;
}
.banner-content-box
{
  position: absolute;
  width: 50%;
  top: 15%;
  left: 10%;
  background-color: #33333380;;
}
.banner-color
{
  color: cyan;
}
.banner-fade
{
    left: 0;
  width: 100%;
  height: 100%;
}